<!-- <ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul> -->
<section >  
    <ul>
      <li class="nav-logo"><a href="/">W-C-E</a></li>
      <li class="nav-item"><a href="/">CRAWL</a></li>
      <li class="nav-item" id="scrap"><a href="/scrap">SCRAP</a></li>
      <li class="nav-item"><a href="/viewscraped">VIEW</a></li>
      <li style="float:right"><a class="active" href="/logout">Logout</a></li>
      <!-- <li style="float:right"><a class="active" href="/settings"><i class="glyphicon glyphicon-cog"></i>Settings</a></li> -->
    </ul>
</section>